*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'PT Serif', serif;
}
.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.navbar__s4{
    display: none;
}
.navbar__s2{
    display: flex;
    gap: 30px;   
}
.navbar__s2:hover{
    text-decoration: underline;
}
.navbar__s3{
    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar__s3 button{
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}
.navbar2{
    margin-top: 20px;
    margin-left:600px ;
}
.navbar3{
    padding-top: 20px;
    display: flex;
    gap: 30px;
    margin-left: 350px
}
.navbar3:hover{
    cursor: pointer;
    text-decoration: underline;
}
.navbar4{
    margin-top: 15px;
display: flex;
padding: 8px;
    margin-left: 350px;
    margin-right: 350px;
    border:solid black 1px;
    border-radius: 30px;
    align-items: center;
}
.navbar4 input{
    border: none;
}
.navbar4__s1 button{
    background-color: rgb(100, 212, 100); 
    border-radius: 20px;
    padding: 5px;
}
.Restaurant-image{
    position: relative;
}
.Restaurant-image img{
    margin-top: 15px;
width: 95%;
margin-left: 30px;
border-radius: 20px;
height: 500px;
}
.about__restaurant{
    position:absolute ;
    top: 75%;
    left: 5%;
    color: white;
}
.heading{
    margin-left: 50px;
    margin-top: 30px;
}
.heading__container{
    display: flex;
    justify-content: space-between;
   
    }
.container-places{
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
}
.container-places img{
    height: 70%;
    width: 100%;
  
}
.acian__container{
   display: flex;
   justify-content: space-between;
}
.acian-s1{
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
}
.acian-s1 img{
    height:70% ;
    width: 100%;
    
}
.canva{
    padding-left: 80px;
}
.canva img{
    margin-top: 20px;
    width: 93%;
    height: 500px;
    border-radius: 25px;
    border:solid skyblue 1px;
}
.Trips{
    padding-left: 90px;
}
.trip__photos{
    display: flex;
    justify-content: space-between;
}
.trip-s1{
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
}
.trip-s1 img{
    height:70% ;
    width: 100%;
}

.travel-abc{
    padding-left: 80px;
}
.travel-abc img{
    margin-top: 20px;
    width: 93%;
    height: 500px;
    border-radius: 25px;
}
.end-bar{
    display: flex;
    gap: 40px;
    padding: 20px;
    margin-top: 50px;
    background-color: bisque;
}
.endup{
    background-color: bisque;
    padding: 10px;
    padding-left: 300px;
}
.endup-s1:hover{
    cursor: pointer;
}
.endup-s1{
    background-color: bisque;
    display: flex;
gap: 30px;
padding-left: 50px;
text-decoration: underline;
}
.icons{
    background-color:bisque ;
    padding-left: 1100px;
    gap: 20px;
}
.icons img{
width: 30px;
}
/*media quires*/
@media screen and (max-width:880px) {
    body{
        font-size: 10px;
    }
    
}
@media screen and (max-width:600px) {
    .acian-s1{
        flex-basis: 40%;
    }
    .navbar3{
        display: none;
    }
    .navbar4{
        display: none;
    }
   .navbar__s2,.navbar__s3{
    display: none;
   }
   .navbar__s4{
    display: block;
}
}

